@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
.imageWrapper {
  display: block;
  position: relative;
  overflow: hidden;
  background: #f5f5f5 url("//cdn.shopify.com/s/files/1/1023/3455/t/3/assets/ck-spinner-32.gif") no-repeat 50% 50%;
  z-index: -1;
}

.imageWrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}

.imageGrid > img {
  border-radius: 0.375rem;
}

@media screen and (max-width: 767px) {
  .artdirected {
    background-position: 50% 50%;
    padding-bottom: 150% !important;
  }

  .botttomBanner {
    padding-bottom: 70% !important;
  }

  /* issues with ios where height: 100% doenst work in grid on old devices */
  .imageGrid > img {
    max-height: 130px;
  }
  .stores > img {
    max-height: 150px;
  }
  .socials > img {
    max-height: 30px;
  }
}
